<h1>Listing card_colors</h1>

<table>
  <tr>
    <th>Order</th>
    <th>Code</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @card_colors.each do |card_color| %>
  <tr>
    <td><%= card_color.order %></td>
    <td><%= card_color.code %></td>
    <td><%= link_to 'Show', card_color %></td>
    <td><%= link_to 'Edit', edit_card_color_path(card_color) %></td>
    <td><%= link_to 'Destroy', card_color, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Card color', new_card_color_path %>
