<h1>Listing cards</h1>

<table>
  <tr>
    <th>Word</th>
    <th>Mean</th>
    <th>Card color</th>
    <th>Directory</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @cards.each do |card| %>
  <tr>
    <td><%= card.word %></td>
    <td><%= card.mean %></td>
    <td><%= card.card_color_id %></td>
    <td><%= card.directory_id %></td>
    <td><%= link_to 'Show', card %></td>
    <td><%= link_to 'Edit', edit_card_path(card) %></td>
    <td><%= link_to 'Destroy', card, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Card', new_card_path %>
